<div style="min-height:100vh; display:flex; align-items:center; justify-content:center; padding:16px;">
    <MudCard Elevation="1" Class="pa-6" Style="max-width:800px; width:100%;">
        <MudPaper Class="pa-4 d-flex justify-center" Elevation="0">
            <MudText Typo="Typo.h6" Color="Color.Secondary" Class="text-center">
                Welcome to Ocean Lifespaces India Private Limited
            </MudText>
        </MudPaper>
    </MudCard>
</div>

@code {
}
