<MudPaper Elevation="0" Class="px-2 mt-1">
    <MudText Typo="Typo.h6">@Title</MudText>
</MudPaper>
@* <MudPaper Square="true" Elevation="0" Class="px-2 mt-2" @attributes="AdditionalAttributes">
    <div class="header-inner">
        <div class="header-left">
            @if (!string.IsNullOrWhiteSpace(Icon))
            {
                <MudIcon Icon="@Icon" Size="Size.Medium" Class="header-icon" />
            }
            <div class="header-texts">
                <MudText Typo="Typo.h6" Class="title">@Title</MudText>
                @if (!string.IsNullOrWhiteSpace(Subtitle))
                {
                    <MudText Typo="Typo.caption" Class="subtitle">@Subtitle</MudText>
                }
            </div>
        </div>

        <div class="header-right">
            @RightContent
        </div>
    </div>
</MudPaper> *@
