<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
	<PropertyGroup>
		<PublishProtocol>MSDeploy</PublishProtocol>
		<PublishProvider>MsDeploy</PublishProvider>
		<PublishUrl>https://olipl.org:8172/msdeploy.axd?site=olipl.org</PublishUrl>
		<MSDeploySite>olipl.org</MSDeploySite>
		<DeployIisAppPath>olipl.org</DeployIisAppPath>
		<MsDeployServiceUrl>olipl.org:8172</MsDeployServiceUrl>
		<MSDeployServiceUrl>olipl.org:8172</MSDeployServiceUrl>
		<UserName>melodyst</UserName>
		<Password>S$bMOq2qEi39$P7S</Password>
		<AllowUntrustedCertificate>True</AllowUntrustedCertificate>
		<SiteUrlToLaunchAfterPublish>http://olipl.org</SiteUrlToLaunchAfterPublish>
		<DestinationAppUrl>http://olipl.org</DestinationAppUrl>
		<ControlPanelLink>https://winsome.grabweb.in:8443</ControlPanelLink>
		<LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
		<DeleteExistingFiles>True</DeleteExistingFiles>
		<ExcludeApp_Data>False</ExcludeApp_Data>
		<_SavePWD>True</_SavePWD>
	</PropertyGroup>
</Project>